<div>
    {{#each db}}
    <h3> {{this.title}} </h3>
    <ul>
        <li> Category: {{this.category}} </li>
        <li> Description: {{this.description}} </li>
        <li> ${{this.price}} </li>
        <li> Stock: {{this.stock}} </li>
    </ul>
    {{/each}}
</div>